// Header
//
// header that containers navbars.
//
// Markup:
// <header class="header">
// <div class="wrapper">
// <div class="logo">
//  Lincoln Community Watcher
// </div>
//  <nav class="primary-nav" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
//  <ul class="primary-nav__pages">
//    <li class="primary-nav__page ">
//      <a href="#" class="primary-nav__page__url --active" itemprop="url">
//        <span itemprop="name">Home</span>
//      </a>
//    </li>
//    <li class="primary-nav__page ">
//      <a href="#" class="primary-nav__page__url" itemprop="url">
//        <span itemprop="name">twitter</span>
//      </a>
//    </li>
//  </ul>
//  </nav>
// </div>
//  </header>
//
// Styleguide navigation - header


.header {
  border-top: #009E49 5px solid;
  border-bottom: #f0f2f1 2px solid;
  color: #009E49;
  font-family: "Roboto", sans-serif;
  padding: 25px 0;

  .primary-nav {
    display: inline-block;
    float: right;
  }
}

.logo {
  color: #009E49;
  display: inline-block;

  text-decoration: none;

}