// Primary Navigation Bar
//
// Your standard button suitable for clicking.
//
// Markup:
//<nav class="primary-nav" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
//  <div class="mobile__menu">
//    <a href="#toggle" class="primary-nav__toggle">
//      <span class="button">Menu</span>
//    </a>
//  </div>
//  <ul class="primary-nav__pages">
//    <li class="primary-nav__page ">
//      <a href="#" class="primary-nav__page__url --active" itemprop="url">
//        <span itemprop="name">Home</span>
//      </a>
//    </li>
//    <li class="primary-nav__page ">
//      <a href="#" class="primary-nav__page__url" itemprop="url">
//        <span itemprop="name">twitter</span>
//      </a>
//    </li>
//  </ul>
//</nav>
//
// Styleguide Navigation - Primary navigation Bar
.primary-nav {
  .primary-nav__pages {
    @include list-reset();
  }

  .primary-nav__page {
    display: inline-block;

    & + .primary-nav__page{
      margin-left: 20px;
    }


    .primary-nav__page__url {
      color: #009E49;
      text-decoration: none;
    }

  }

  .mobile__menu {
    display: none;
  }
}