// ------------------------------------------------------------------------------
//   Color Function
// ------------------------------------------------------------------------------
.kss-colors-container {
  margin: 0;
  padding-left: 0;
}

.kss-color {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 48%;
  display: inline-block;
  height: 127px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}

.kss-color .kss-parameters__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background: #FFFFFF;
  margin: 0;
}

.kss-color__name {
  display: block;
  min-height: 22px;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.6;
}

.kss-color__var,
.kss-color__code {
  display: inline-block;
  width: 50%;
  font-size: 0.75em;
  line-height: 1.4;
}

.kss-color__var{
  text-align: right;
}

.kss-color .kss-parameters__name {
  display: none;
}
