// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background: #fff;
$kss-colors-light-grey: #efefef;
$kss-color-navbar: #4FB4D8;
$kss-grey: #1c1d21;
$kss-vader: #EB3D54; // Vader's lightsaber.
$kss-luke: #EF7C2A; // Luke's pilot uniform.
$kss-threepio: #E5CD52; // Human cyborg relations.
$kss-yoda: #78BD65; // Fear is the path to the dark side.
$kss-artoo: #4FB4D8; // Whistle. Bloop.

$kss-font-body: 'Open Sans', sans-serif;
$kss-font-title: 'Roboto', sans-serif;
$kss-font-code: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

$kss-font-size: 16px;
$kss-vertical-rhythm: $kss-font-size * 1.5;

