// ------------------------------------------------------------------------------
//   Wrapper
// ------------------------------------------------------------------------------
.kss-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1000px) {
    max-width: 95%;
  }
}