// Card
//
// Markup:
//<div class="card">
//  <div class="card__title"> Categories </div>
//  <canvas id="categoriesChart" width="200" height="200"></canvas>
//</div>
//
// Styleguide Components - Card

.card {
  background: #e3e3e3;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;

  .blank-box {
    background: #333;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}